@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap'); 


.App {
  text-align: center;
}

* {
  font-family: Barlow, sans-serif;
}

body {
  background-image: url('./images/background.png');
}

h1 {
  color: white;
  padding: 100px;
  text-align: center;
}

h2 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

p {
  color: white;
}

.system {
  align-items: center;
  display: flex;
}

.card-planet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.missions-section {
  background-color: black;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0.6;
  padding: 50px;
}

.card-mission {
  background-color: gray;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;
  width: 100px;
}

.main-title-mission {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.6;
}
