@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap') ;


* {
  font-family: Barlow , sans-serif;
}

body {
  background-image: url('./images/background.png');
}

h1 {
  color: white;
  padding: 100px;
  text-align: center;
}

h2 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

p {
  color: white;
}

.system {
  align-items: center;
  display: flex;
}

.card-planet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.missions-section {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}

.card-mission {
  background-color: black;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: 0.5;
  padding: 30px;
  width: 400px;
}

.main-title-mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.6;
}

.name-mission {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}

.year-mission {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
}

.mission-moreinfo {
  display: flex;
  justify-content: space-around;
}

.country-mission {
  display: flex;
  justify-content: space-around;
}
